#t_1_id {
    position: relative;
    top: 20%;  /*increase this to list others images*/
    
    -webkit-filter: drop-shadow(5px 5px 5px rgba(70, 73, 240, 0.24));
    filter: drop-shadow(2px 5px 5px rgba(126, 128, 223, 0.432));
    animation: t_1_move 12s 0s 1;
    left: -160%;
    animation-fill-mode: forwards; animation-delay: 6s;
    
} @keyframes t_1_move {
    0% {
        left: -160%;
    }
    100% {
        left: var(--t_1data); /*to move image to desired location */
    }
}
.t_1 {
    height: 90px;
    width: auto;
}



#t_2_id{
    position: relative;
    top: 40%;  /*increase this to list others images*/
    width: auto;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(70, 73, 240, 0.24));
    filter: drop-shadow(2px 5px 5px rgba(126, 128, 223, 0.432));
    animation: t2_move 12s 0s 1;
    left: -160%;
    animation-fill-mode: forwards; animation-delay: 6s;
    
} 

@keyframes t2_move {
    0% {
        left: -160%;
    }
    100% {
        left: var(--t_2data); /*to move image to desired location */
    }
} 
.t_2{
    height: 90px;
    width: auto;
}




#t_3_id{
    position: relative;
    width: auto;
    top: 60%;  /*increase this to list others images*/
    -webkit-filter: drop-shadow(5px 5px 5px rgba(70, 73, 240, 0.24));
    filter: drop-shadow(2px 5px 5px rgba(126, 128, 223, 0.432));
    animation: t3_move 12s 0s 1;
    left: -160%;
    animation-fill-mode: forwards; animation-delay: 6s;
    
} @keyframes t3_move {
    0% {
        left: -160%;
    }
    100% {
        left: var(--t_3data); /*to move image to desired location */
    }
}
.t_3{
    height: 90px;
    width: auto;
}


#t_4_id{
    position: relative;
    
    top: 80%;  /*increase this to list others images*/
    width: auto;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(70, 73, 240, 0.24));
    filter: drop-shadow(2px 5px 5px rgba(126, 128, 223, 0.432));
    animation: t4_move 12s 0s 1;
    left: -160%;
    animation-fill-mode: forwards; animation-delay: 6s;
    
} @keyframes t4_move {
    0% {
        left: -160%;
    }
    100% {
        left: var(--t_4data); /*to move image to desired location */
    }
}
.t_4{
    height: 90px;
    width: auto;
}



/*SCORE BOARD ARE CSS HERE*/

.t_4_name_class{
    font-size: 1.5em;
  right: 26%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 52vh; 
}
#t_4_score{
    font-size: 1.5em;
  right: 6%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 52vh; 
}

.t_1_name_class{
    font-size: 1.5em;
  right: 26%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 40vh; 
}
#t_1_score{
    font-size: 1.5em;
  right: 6%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 40vh; 
}

.t_2_name_class{
    font-size:1.5em;
  right: 26%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 44vh; 
}

#t_2_score{
    font-size: 1.5em;
  right: 6%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 44vh; 
}

.t_3_name_class{
    font-size: 1.5em;
  right: 26%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 48vh; 
}

#t_3_score{
    font-size: 1.5em;
  right: 6%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 48vh; 
}


.thinkclass{
    font-size: 1.5em;
  left: 1%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 36vh; 
}
#thinkscore{
    font-size: 1.5em;
  right: 6%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 36vh; 
}

.forcefullclass{
    font-size: 1.5em;
  left: 1%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 44vh; 
}
#forcescore{
    font-size: 1.5em;
  right: 6%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 44vh; 
}

.powerclass{
    font-size:1.5em;
  left: 1%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 52vh; 
}

#powerscore{
    font-size: 1.5em;
  right: 6%;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 52vh; 
}



.layer {
    display: block;
    height: 100%;
    width: 200%;
    padding: 0;
    margin: 0; }

    .lighthouse {
        margin: 0px -112px;
        background-size: 292px 582px;
        right: -30%;
        height: 582px;
        width: 292px; }









/*
 #t_4_id2{
    position: absolute;
    
    top: 10vh;
    left: 20%;
    height: 90px;
    text-align: center;
    
    
    
    visibility: hidden;
    opacity: 0;
    
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
    font-size:      300px;
    color: rgb(225, 226, 236);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(25, 25, 248), 0 0 5px rgb(21, 21, 248); 
    box-shadow: 0 4px 6px -5px hsl(0, 73%, 49%), inset 0px 4px 6px -5px rgb(180, 25, 25); 
    border-radius: 2em; 
   }
   
   #t_4_id:hover 
{
    cursor: pointer;
    transform: scale(2.0);
       }
  */ 
  
/*HoverING EFFECTS */

   /* Child Text Container 

   .rcy + div, .t_4 + div, .t_2rmy + div, .t_3 + div{
    position: fixed;
    bottom: 0;
    left: 68%;
    background: rgba(0, 0, 0, 0.411);
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
    font-size:      30px;
    color: rgb(146, 162, 255);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(25, 25, 248), 0 0 5px rgb(21, 21, 248); 
    box-shadow: 0 4px 6px -5px hsl(0, 73%, 49%), inset 0px 4px 6px -5px rgb(180, 25, 25); 
    border-radius: 2em; 
   }
   
   
   .rcy:Hover, .t_4:Hover, .t_2rmy:Hover,  .t_3:Hover
{
    cursor: pointer;
    transform: scale(2.0);
   }
   
   .rcy:Hover + div, .t_4:Hover + div, .t_2rmy:Hover + div,  .t_3:Hover + div

{
    width: 300px;
    padding: 8px 10px;
    
    visibility: visible;
    opacity: 0.9; 
   }

   */